services:
  postgres:
    image: postgres:18.1
    container_name: postgres_dev
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: